h4.utc-time {
    color: #AA3333;
}

#categories{
    list-style: none;
}

#product_list{
    list-style: none;
    padding: 0;
    margin: 0;
}

.activeCat{
    font-weight: bolder;
    color: #7c312f;
}

.noBullets{
    list-style: none;
    display: inline-block;
}

.product_tile{
    display: inline-block;
    margin: 12px 18px;
    padding: 12px;
    border: 2px solid #cccccc;
    border-radius: 4px;
    width: 300px;
    vertical-align: top;
    min-height: 100px;
    height: 100%;
}