<%inherit file="/homepage/templates/base.htm" />

<%block name="menu">
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
     <a class="navbar-brand" href="/index/"> <img src="${ STATIC_URL }homepage/media/images/music.png"> </a>

     <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
     </button>

      <div class="collapse navbar-collapse" id="navbarColor02">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item ${ 'active' if request.dmp_router_page == 'index' else ''}">
            <a class="nav-link" href="/homepage/index/">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item ${ 'active' if request.dmp_router_page == 'about' else ''}">
            <a class="nav-link" href="/homepage/about/">About</a>
          </li>
          <li class="nav-item ${ 'active' if request.dmp_router_page == 'contact' else ''}">
            <a class="nav-link" href="/homepage/contact/">Contact</a>
          </li>
          <li class="nav-item ${ 'active' if request.dmp_router_page == 'sections' else ''}">
            <a class="nav-link" href="/homepage/sections/">Sections</a>
          </li>
            <li class="nav-item ${ 'active' if request.dmp_router_page == 'terms' else ''}">
            <a class="nav-link" href="/homepage/terms/">Terms</a>
          </li>
           <li class="nav-item ${ 'active' if request.dmp_router_page == 'terms' else ''}">
           <a class="nav-link" href="/catalog/productList/">Product List</a>
          </li>

            <style>
                 .open .dropdown-menu {
                   display: block;
               }
            </style>

        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">${ 'View Account/Log Out' if request.user.is_authenticated else 'Log In/Sign Up'}</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="/account/signup" >${ 'View Account' if request.user.is_authenticated else 'Sign Up'}</a>
              <a class="dropdown-item" href="/account/login">${ 'Log Out' if request.user.is_authenticated else 'Log Out'}</a>
             </div>
        </li>

        </ul>
      </div>
  </nav>


</%block>


