<%inherit file="/homepage/templates/base.htm" />
<! from catalog import mdoels as cmod %>

<%block name="menu">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
     <a class="navbar-brand" href="/index/"> <img src="${ STATIC_URL }homepage/media/images/music.png"> </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
     </button>

      <div class="collapse navbar-collapse" id="navbarColor02">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item ${ 'active' if request.dmp.page == 'index' else ''}">
            <a class="nav-link" href="/homepage/index/">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item ${ 'active' if request.dmp.page == 'about' else ''}">
            <a class="nav-link" href="/homepage/about/">About</a>
          </li>
          <li class="nav-item ${ 'active' if request.dmp.page == 'contact' else ''}">
            <a class="nav-link" href="/homepage/contact/">Contact</a>
          </li>
          <li class="nav-item ${ 'active' if request.dmp.page == 'sections' else ''}">
            <a class="nav-link" href="/homepage/sections/">Sections</a>
          </li>
            <li class="nav-item ${ 'active' if request.dmp.page == 'terms' else ''}">
            <a class="nav-link" href="/homepage/terms/">Terms</a>
          </li>
            </li>
            <li class="nav-item ${ 'active' if request.dmp.page == 'productList' else ''}">
            <a class="nav-link" href="/catalog/productList/">View Product List</a>
          </li>

            <style>
                 .open .dropdown-menu {
                   display: block;
               }
            </style>

        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">${ 'View Account/Log Out' if request.user.is_authenticated else 'Log In/Sign Up'}</a>
            <div class="dropdown-menu">
                %if user.is_authenticated :
                            <a class="dropdown-item" href="/account/viewaccount">View Account</a>
                            <a class="dropdown-item" href="/account/logout">Log Out</a>
                %else :
                            <a class="dropdown-item" href="/account/signup">Sign Up</a>
                            <a class="dropdown-item" href="/account/login">Log In</a>
                %endif
             </div>
        </li>
        </ul>
      </div>
  </nav>
</%block>

<%block name="left_section">
    <h3>Categories</h3><br>
        <ul id="categories">
            <li class="${ 'activeCat' if category is None else ' ' }"><a href="/catalog/index/">All Products</a></li>
            % for c in cat:
                <li class="${ 'activeCat' if category is None else '' }"><a href="/catalog/index/${c.id}/">${ c.name }</a></li>
            % endfor
        </ul>
</%block>

## <%block name="right_section">
##     <h2 id="last_five_title">Recently Viewed:</h2>
##     <ol>
##         %for products in request.last_five[1:6]:
##             <li></li>
##         %endfor
##     </ol>
##
## </%block>
