<%inherit file="app_base.htm" />

<%block name="middle_section">
    <div class="imgList">
        <ul class="thumbUL">
        %for i in img:
            <li class="imgThumbs">
                <img src="${i}">
            </li>
        %endfor
        </ul>
    </div>
    <div class="productInfo">
        <ul>
            <li id="mainImage">
                <img src="${i}">
            </li>
        </ul>

    <h1 class="prodName">${prod.name}</h1>
    <p class="prodDescription">${prod.description}</p>
        <button class="btn btn-warning center-block">${prod.price}</button>

    %if prod.TITLE== 'Bulk Product':
        <div class="form-group">
            <label class="col-form-label" for="inputDefault"></label>
            <input class="form-control quantity" placeholder="${prod.quantity}" id="inputDefault" type="text">
        </div>
    %endif
    </div>
</%block>