 <%inherit file="base_ajax.htm" />

 <%block name="content">
##     <h1 class="text-center">
##         %if gory == 'All Products':
##             All Products
##         %else:
##             ${gory.name}
##         %endif
##     </h1>
    <h1 class="text-center">${ cName }</h1><br>
    <ul class="noBullets">
    %for prod in qry:

        <li class="product_tile text-center">
            <a href="/catalog/detail/${prod.id}/">
                <p>${prod.TITLE}</p>
            <h4 class="text-center">${prod.name}</h4>
            <img src="${prod.image_url()}" class="img-fluid"/>
            <button class="btn btn-warning center-block">${prod.price}</button>
            </a>
        </li>

    %endfor
    </ul>
</%block>

