<%inherit file="app_base.htm" />


<%block name="content_top">
    <h1>Products And Categories</h1><br><br>
    <div class="container">
        <div class="row">
            <div class="col-2">
                <ul id="categories">
                    <li class="${ 'activeCat' if category is None else ''}"><a href="/catalog/index/">All Products</a></li>
                    % for c in cat:
                        <li class="${ 'activeCat' if category is None else '' }"><a href="/catalog/index/${c.id}/">${ c.name }</a></li>
                    % endfor
                </ul>
            </div>
            <div class="col-8" id="products">
                <div id="catalog">
                    
                </div>
            </div>
            <div class="col-2">
                <div id="paginator" class = text-right>
                    <a id="previous_page"><i class="fas fa-arrow-left"></i></a>
                        <a>Page ${  } of ${ page }</a>
                    <a id="next_page"><i class="fas fa-arrow-right"></i></a>
                </div>
            </div>
        </div>
    </div>

</%block>