<%inherit file="app_base.htm" />


<%block name="content_top">
    <h1>Products And Categories</h1><br><br>
    <div class="container">
        <div class="row">
            <div class="col-2">
                <h1 class="text-primary">${ 'Products' if cat is None else ' '}</h1> <br>
                <ul id="categories">
                    <li><a href="/catalog/index/">All Products</a></li>
                    % for c in cat:
                        <li><a href="/catalog/index.products/${c.id}">${ c.name }</a></li>
                    % endfor
                </ul>
            </div>
            <div class="col-8" id="products">
                <div id="paginator" class = text-right>
                    <a id="previous_page"><i class="fas fa-arrow-left"></i></a>
                    <a id="next_page"><i class="fas fa-arrow-right"></i></a>
                </div>
                <div id="catalog_container">
                    <div id="catalog"></div>
                </div>
            </div>
        </div>
    </div>

</%block>