<%inherit file="app_base.htm" />

<%block name='content_top'>

    <div >
        <a href="/manager/createProduct"><button type="button" class="btn btn-info" >Create Product</button></a>
    </div>


    <table class="table table-hover">
        <thead>
            <tr>
                <th>Category</th>
                <th>Type</th>
                <th>Name</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Actions</th>
            </tr>
         </thead>
         <tbody>
            %for p in products:
                <tr class="table-active">
                    <td>${p.category.name}</td>
                    <td>${p.TITLE}</td>
                    <td>${p.name}</td>
                    <td>${p.price}</td>
                    %if TITLE == 'Bulk Product':
                        <td>${p.quantity}</td>
                    %else:
                        <td>1</td>
                    %endif
                    <td>
                        <a href="/manager/editProduct/${p.id}">Edit</a>
                        <a href="/manager/deleteProduct/${p.id}">Delete</a>
                    </td>
                </tr>
            %endfor

         </tbody>
    </table>
</%block>

