<%inherit file="app_base.htm" />

<!DOCTYPE html>
<html lang="en">

<body>
    <div >
        <button type="button" class="btn btn-info" href="/manager/createProduct">Create Product</button>
    </div>

    <table>
        <thead>
            <tr>
                <th>Category</th>
                <th>Type</th>
                <th>Name</th
                <th>Price</th>
                <th>Quantity</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        <!-- For Loop for each product -->
        </tbody>

    </table>
</body>
</html>