<%inherit file="app_base.htm" />

<%block name='content_top'>

      <h1 class="display-3">Product List</h1>
      <p class="lead">Current products are listed below. You may choose to edit or delete these products using the appropriate link in the table</p><br>


    <table class="table table-hover">
        <thead>
            <tr>
                <th>Category</th>
                <th>Type</th>
                <th>Name</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Actions</th>
            </tr>
         </thead>
         <tbody>
            %for p in products:
                <tr class="table-active">
                    <td>${p.category.name}</td>
                    <td>${p.TITLE}</td>
                    <td>${p.name}</td>
                    <td>${p.price}</td>
                    <!-- %if hasattr(p, 'quantity', 1): -->
                    %if TITLE == 'Bulk Product':
                        <td>${p.quantity}</td>

                    %else:
                        <td>1</td>
                    %endif
                    <td>
                        <a href="/manager/editProduct/${p.id}/">Edit</a> |
                        <a href="/manager/deleteProduct/${p.id}/">Delete</a>
                    </td>
                </tr>
            %endfor
         </tbody>
    </table><br><hr class="my-4">
    <div >
        <a href="/manager/createProduct"><button type="button" class="btn btn-secondary" >Create Product</button></a>
    </div>

</%block>

