## this is the skeleton of all pages on in this app - it defines the basic html tags
<!DOCTYPE html>
<html>
    <meta charset="UTF-8">
    <div class="error">
        <h3>This site is undergoing improvements, please be patient with the limited functionality</h3>
    </div>

    <head>

        <title>FOMO</title>

        ## add any site-wide scripts or CSS here; for example, jquery:
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="${ STATIC_URL }homepage/media/bootstrap/js/bootstrap.min.js"></script>
        <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
<%doc>
        <link href="${ STATIC_URL }homepage/media/bootstrap/css/bootstrap-theme.css">
</%doc>
##         <link href="${ STATIC_URL }homepage/media/bootstrap/css/bootstrap.css" rel="stylesheet">
        <link href="${ STATIC_URL }homepage/media/bootstrap/css/bootswatch.min.css" rel="stylesheet">
        <link href="${ STATIC_URL }homepage/styles/stylesheet.css" rel="stylesheet">
        <script src="/django_mako_plus/dmp-common.min.js"></script>
        ${ django_mako_plus.links(self) }
    </head>

    <body>
    <a href="#content">Skip to main content</a>


    <%block name="menu"></%block>

<br>

    <main>

        <%block name="content_top"> </%block>

        <div class="section">
            <div id="content"></div>

            <%block name="left_section">
            </%block>
            <%block name="middle_section">
            </%block>
            <%block name="right_section">
            </%block>

        </div>

        <%block name="bottom_section">

        </%block>

    </main>
    </body>
<footer>
    <%block name="body_footer">
        <%! from datetime import datetime%>
        &copy; Copyright ${ datetime.now().year }. All rights reserved.
    </%block>
</footer>
</html>
