<%inherit file="app_base.htm" />

<%block name="content_top">
    <form action="/contact/" method="POST">
        ${ csrf_input }
        <div class="form-group forms">
             <label class="col-form-label" for="inputDefault">First Name</label>
            <input type="text" class="form-control" placeholder="First Name" id="inputDefault">
            <label class="col-form-label" for="inputDefault">Last Name</label>
            <input type="text" class="form-control" placeholder="Last Name" id="inputDefault">
            <br>
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
</%block>

