<%inherit file="app_base.htm" />



<%block name="content_top">
    <div class="top_section">
        <P>Top Section</P>
    </div>
</%block>

<%block name="left_section">
        <div class="left_section">
            <p>Left Section</p>
        </div>
</%block>

<%block name="middle_section">
        <div class="middle_section">
            <P>Middle Section</P>
        </div>
</%block>

<%block name="right_section">
        <div class="right_section">
            <p>Right Section</p>
        </div>
</%block>

<%block name="bottom_section">
    <div class="bottom_section">
        <p>Bottom Section</p>
    </div>
</%block>