<%inherit file="app_base.htm" />

    <%block name="content_top">
       <div class="topSection"><P>Top Section</P></div>
    </%block>

    <%block name="left_section">
        <div class="leftSection"><p>Left Section</p></div>
    </%block>

    <%block name="middle_section">
        <div class="middleSection"><P>Middle Section</P></div>
    </%block>

    <%block name="right_section">
        <div class="rightSection"><p>Right Section</p></div>
    </%block>

<%block name="bottom_section">
    <div class="bottomSection"><p>Bottom Section</p></div>
</%block>